<mat-card class="b-1 shadow-none">
  <mat-card-header>
    <mat-card-title>Doctor's Notes</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <mat-list>
      <mat-list-item lines="3">
        <span matListItemTitle class="f-s-16 f-w-600">Consultation & Assessment</span>
        <span class="mat-body-1">
          I’ll start by evaluating your facial anatomy and discussing your aesthetic goals. 
          We’ll talk about the areas you’d like to treat and the results you're aiming for. 
          This helps me create a personalized treatment plan for you.
        </span>
      </mat-list-item>

      <mat-list-item lines="3">
        <span matListItemTitle class="f-s-16 f-w-600">Treatment Area Selection</span>
        <span class="mat-body-1">
          Based on your assessment, I will identify the areas where Botox will be injected, 
          commonly including the forehead, crow's feet, and frown lines. 
          These are the areas where muscle activity contributes to wrinkles and lines.
        </span>
      </mat-list-item>

      <mat-list>
        <mat-list-item>
          <span matListItemTitle class="f-s-16 f-w-600">Injection Process</span>
        </mat-list-item>
        <mat-list-item>
          <span class="mat-body-1">• Using a fine needle, I will inject small amounts of botulinum toxin into the targeted muscles.</span>
        </mat-list-item>
        <mat-list-item>
          <span class="mat-body-1">• This process is quick and generally causes minimal discomfort.</span>
        </mat-list-item>
        <mat-list-item>
          <span class="mat-body-1">• I ensure precision for the best aesthetic outcome.</span>
        </mat-list-item>
      </mat-list>
      
      

      <mat-list-item lines="3">
        <span matListItemTitle class="f-s-16 f-w-600">Aftercare Instructions</span>
        <span class="mat-body-1">
          After the procedure, I’ll provide you with detailed aftercare instructions. 
          This usually includes avoiding touching the treated areas, not lying down for a few hours, 
          and refraining from strenuous activities for the next 24 hours to ensure optimal results.
        </span>
      </mat-list-item>

      <mat-list-item lines="3">
        <span matListItemTitle class="f-s-16 f-w-600">Follow-Up & Results</span>
        <span class="mat-body-1">
          The results will start to become noticeable within 3-7 days, with full effects visible by the end of the week. 
          Botox typically lasts for 3-6 months. I recommend scheduling follow-up appointments to assess the results 
          and maintain the desired appearance.
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
