<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Book Appointment</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class=" col-lg-6">
        <!-- ------------------------------------------------------------------------- -->
        <!-- Client Name -->
        <!-- ------------------------------------------------------------------------- -->
        <!-- <app-badge></app-badge> -->

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Client Name</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-chip-set aria-label="Dog selection">
              <mat-chip class="f-s-14">
                <img
                  matChipAvatar
                  src="/assets/images/profile/user-1.jpg"
                  alt="Photo of a Shiba Inu"
                />
                Anderson
              </mat-chip> 
            </mat-chip-set>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">
        
         <!-- for date-->
      <app-date></app-date>
    
      </div>


      <div class="col-lg-6">
        <!-- ------------------------------------------------------------------------- -->
        <!-- Time -->
        <!-- ------------------------------------------------------------------------- -->

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Select Time</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-chip-listbox aria-label="time selection">
            <div class="col"> <div class="row"> <mat-chip-option class="f-s-14 "color="primary">8:00 AM</mat-chip-option>
              <mat-chip-option class="f-s-14" color="accent" selected >10:00 AM</mat-chip-option>
              <mat-chip-option class="f-s-14" color="primary" selected>1:00 PM</mat-chip-option>
            </div>
             <div class="row"> <mat-chip-option class="f-s-14" color="warn">2:00 PM</mat-chip-option>
              <mat-chip-option class="f-s-14" color="warn" selected>4:00 PM</mat-chip-option>
              <mat-chip-option class="f-s-14" color="warn">6:00 PM</mat-chip-option></div></div>
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">
        <!-- ------------------------------------------------------------------------- -->
        <!-- Services  -->
        <!-- ------------------------------------------------------------------------- -->
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Select Services </mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-chip-listbox  class="mat-mdc-chip-set-stacked" aria-label="Color selection">
       
              <mat-chip-option class="f-s-14" color="accent"> Cosmetic Surgery</mat-chip-option>
              <mat-chip-option  class="f-s-14" color="primary"> Dermatology</mat-chip-option>
              <mat-chip-option  class="f-s-14" color="warn"> Laser</mat-chip-option>
              <mat-chip-option selected class="f-s-14" color="warn"> Aesthetic Medicine</mat-chip-option>
              
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>


      <div class="col-12">
        <!-- ------------------------------------------------------------------------- -->
        <!-- Input Doctors-->
        <!-- ------------------------------------------------------------------------- -->

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Input Doctor</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Doctors</mat-label>
              <mat-chip-grid #chipGrid aria-label="Enter doctors">
                @for(doctor of doctors; track doctor.name) {
                <mat-chip-row
                  (removed)="remove(doctor)"
                  [editable]="true"
                  (edited)="edit(doctor, $event)"
                  [aria-description]="'press enter to edit ' + doctor.name"
                  class="f-s-14 "
                >
                  {{ doctor.name }}
                  <button
                    matChipRemove
                    [attr.aria-label]="'remove ' + doctor.name"
                  >
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                }

               
              </mat-chip-grid>
              <input
              placeholder="doctor..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-12">
        <!-- ------------------------------------------------------------------------- -->
        <!-- Note -->
        <!-- ------------------------------------------------------------------------- -->

        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Notes</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            
            <mat-form-field appearance="outline" class="w-100 m-t-20">
              <mat-label>Note</mat-label>
              <mat-chip-grid
                #formChip
                aria-label="Enter Note"
              >
              </mat-chip-grid>
              <input
                placeholder="New Note..."
                [matChipInputFor]="formChip"
                (matChipInputTokenEnd)="addForm($event)"
              />
            </mat-form-field>

              <div class="col f-w-600">The following Notes are entered:
            <p> @for (note of notes (); track note) {
              <mat-chip-row (removed)="removeKeyword(note)" >
                {{ note }}
                <button matChipRemove aria-label="'remove ' + keyword">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              }</p></div>
           
          </mat-card-content>
        </mat-card>
      </div>
  
  
    </div>
  </mat-card-content>
</mat-card>
